$c-text: #9ca8b1;
$c-background: #f4f4f5;
$c-primary: #333333;
$c-secondary: #ffffff;
$c-highlight: #5558fa;
$c-accent: #a6a6a6;
$c-black-04: rgba(0, 0, 0, 0.04);
$c-black-08: rgba(0, 0, 0, 0.08);
$c-black-16: rgba(0, 0, 0, 0.16);
$c-black-48: rgba(0, 0, 0, 0.48);
$c-black-24: rgba(0, 0, 0, 0.24);
$c-gray-100: #212830;
$c-blue-100: #d5e4f7;
$c-red-15: rgba(232, 78, 88, 0.15);
$c-green-15: rgba(5, 174, 113, 0.15);
